# Environment variables
.env


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# OAuth / credentials
token.json
credentials.json

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


# Testing
.pytest_cache/
.coverage
