GROQ_API_KEY=
MODEL_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPS_SCRIPT_ID=

JWT_SECRET_KEY=
JWT_ALGORITHM=

SUPABASE_URL=
SUPABASE_KEY=
COOKIE_SECURE=
COOKIE_SAMESITE=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=

SECRET_KEY=

DATABASE_URL=

BACKEND_URL=

GOOGLE_FORM_CALLBACK_URI=
GOOGLE_LOGIN_CALLBACK_URI=

FRONTEND_URL=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=